 /* 
.Boost-—-Website-Design-1-hex { color: #152617; }
.Boost-—-Website-Design-2-hex { color: #BFF205; }
.Boost-—-Website-Design-3-hex { color: #84A60A; }
.Boost-—-Website-Design-4-hex { color: #D7F205; }
.Boost-—-Website-Design-5-hex { color: #0D0D0D; } 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0d0d0d;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.contenedor {
    height: 100svh;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-top:2px solid #bff205;
    
}
header div.logo {
    margin-left: 20px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 10vh;
    display: flex;
    align-items: center;
}

header div.logo span {
    color: #bff205;
    font-size: 1.4em;
    margin-bottom: 1vh;
}

header nav {
    display: flex;
    align-items: center;
    height: 10vh;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: #bff205;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header nav ul li a:hover{

    color:#e4ff76;

}

header nav ul li a::before {

    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e4ff76;
    transition: width 0.3s ease;

}

header nav ul li a:hover::before {

    width: 100%;


}

div.hero {
    
    padding: 15%;
}

div.hero h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 4em;
}

div.hero p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    
}

div.centrar {
    text-align: center;
    width: 100%;
    padding: 25px;
}

div.centrar button {
    height: 7vh;
    width: 32vh;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #bff205;
    color:#152617;
}

div.centrar button a {
    color: #152617;
    display: inline-block;
    height: 7vh;
    line-height: 7vh;
    width: 32vh;
    border-radius: 5px;
    text-decoration: none;
}
div.centrar button a:hover {
    text-decoration: none;
    background-color: #6c7a00;
    color: white;
    transition: 0.2s ease-in-out;
}

main {
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

main section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 4vh;
    text-transform: uppercase;
    font-size: 2em; 
    font-weight: lighter;
    text-decoration: underline #bff205;
}
hr {
    
    border-color: #ccff00;
    margin: 4vh 0 4vh 0;
}
main section h2 {
    width: 12%;
    padding: 10px;
    margin: 4vh 0 6vh 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border:2px solid #bff205;
}
.carta {
    margin: 0 auto;
    padding-bottom: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card  {

    background-color: #1d1d1d;
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(200, 200, 200, 0.2);
    
}
.product {
    border-radius: 10px 10px 0 0;
}
div.product img.full {
    
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}
.card h4 {
    text-align: center;
    text-transform: uppercase;
    color: #bff205;
}
.card p {
    padding: 10px;
    line-height: 1.4em;
    font-size:0.9em;
    text-transform: lowercase;
}
.card p::first-letter {
    text-transform: uppercase;
}
.card .centrarCard {
    text-align: center;
}

.card button {
    margin-top: 10px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: #152617;
    background: linear-gradient(#bff205,#a2cd05);
    cursor: pointer;
}

.card button:hover {
    background: linear-gradient(#ccff00,#bff205);
}

section#nosotros {
    width: 100%;
    height: 100vh;
    display: flex;
}
section#nosotros .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    height: 100%;
}
section#nosotros img {
    width: 80%;
}
section#nosotros .right {
    width: 50%;
    background-color: #95be00;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#nosotros .right h1 {
    text-transform: uppercase;
    font-size:4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3vh;
    text-align: center;
    color: white;
    
}

section#nosotros .right h1 span {
    color: #bff205;
    font-size: 1.4em;
}

section#nosotros .right p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.9em;
    text-align: center;
}

#contacto {
    width: 100%;
    background-color: #0D0D0D;
    padding: 2%;
    display: flex;
    align-items: center;
}

section#contacto .contactoLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section#contacto h2 {
    text-transform: uppercase;
    margin: 1vh 0 4vh 0 ;
    padding: 1%;
    border: 2px solid #bff205;
    width: 38%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

section#contacto .contactoLeft form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;

}

section#contacto .contactoLeft form label {
    text-transform: uppercase;
    padding-left: 1vh;
    margin-bottom: 16px;
    font-size: 3vh;
    border-left: 3px solid #bff205;
}
section#contacto .contactoLeft form input {
    margin-bottom: 10px;
    border: 3px solid #a2cd05;
    border-radius: 10px;
    height: 40px;
    padding: 15px;
    width: 100%;
    color: #a2cd05;
    background-color: transparent;
    
    
}
section#contacto .contactoLeft form input:focus {
   
    border: solid 3px rgb(192, 190, 190);
    outline: none;

}
section#contacto .contactoLeft form textarea {
    margin-bottom: 10px;
    border: 3px solid #a2cd05;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 150px;
    color: #a2cd05;
    background-color: transparent;   
    resize: none;

}

section#contacto .contactoLeft form textarea:focus{
  
  outline: none;
  border: solid 3px grey;
  resize: none;

}

section#contacto .contactoLeft form button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: #bff205;
    border-radius: 10px;
    margin-top: 10px;
}

section#contacto .contactoLeft form button:hover{

    background-color: #6c7a00;
    color: white;
    transition: 0.2s ease-in-out;

}
section#contacto .contactoRight {
    
    width: 50%;
    font-size: 2em;
    padding: 8%;
    margin: 0 auto;
}

section#contacto .contactoRight ul {
    list-style-type: none;   
}

section#contacto .contactoRight ul a {

    color: white;
    text-decoration: none;

}

section#contacto .contactoRight ul li {
    background-color: #bff2057b;
    padding: 10px;
    margin: 15px;   
    transform: skewy(-4deg);
}

section#contacto .contactoRight ul li a:hover {

    color: grey;

}

footer {
    width: 100%;
    text-align: center;
    /* background: linear-gradient(#0D0D0D 1px, #bff205); */
    padding: 2%;
    text-transform: uppercase;
    font-weight: bold;
    color: #a2cd05;
}

